/** 
* basic style
**/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
}

h1,
.heading1 {
    font-size: 1.75rem;
    line-height: 2rem;
}
h2,
.heading2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
h3,
.heading3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

@media (max-width: 1023px) {
    h1,
    .heading1 {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    h2,
    .heading2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    h3,
    .heading3 {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

#menu-toggle i::before {
    content: "\f100";
}
.toggled #menu-toggle i::before {
    content: "\f101";
}
@media (max-width: 767px) {
    #menu-toggle i::before {
        content: "\f101";
    }
    .toggled #menu-toggle i::before {
        content: "\f100";
    }
    #top-menu-toggle.collapsed i:before {
        content: '\f0c9';
    }
    #top-menu-toggle i:before {
        content:'\f00d';
    }
}


.breadcrumb {
    font-size: 80%;
    padding: 0 0 0.75rem;
    background: none;
    border-bottom: 1px dotted #ced4da;
    border-radius: 0;
}

.form-required::after {
    content: '*';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 25px;
    line-height: 38px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f4f5f7;
}
.input-group-prepend {
    /*width: 22%;*/
}
.input-group-prepend .input-group-text {
    width: 100%;
    font-weight: bold;
}

@media (max-width: 1023px) {
    .input-group-prepend {
        width: 33%;
    }

    .input-group-prepend .input-group-text {
        overflow-x: auto;
    }
}

.custom-file-label {
    overflow: hidden;
}

details {
    border: 1px dotted #ced4da;
}
details > * {
    margin: 5px;
}
details summary:focus {
    outline: none;
}

#wrapper {
    overflow: hidden;
}

.list-group-item .fas,
.sidebar-subheading .fas {
    width: 25px;
    text-align: center;
    padding-right: 5px;
}

@media (min-width: 768px) {
    .news-container .fixed-table-container {
        margin-left: -12px;
        margin-right: -12px;
    }
    .news-container table.news tbody {
        display: flex;
        flex-wrap: wrap;
    }
    .news-container table.news tbody tr {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .news-container table.news tbody tr td {
        display: block;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .news-container table.news tbody tr td {
        padding-left: 0;
        padding-right: 0;
    }
}
.news-container .news .card {
    height: 100%;
}
.news-container .pagination-info {
    display: none;
}

@media (max-width: 767px) {
    table .card-view {
        padding-bottom: 5px;
    }
}

.add-to-wishlist,
.remove-from-wishlist {
    color: #007bff;
    cursor: pointer;
}
.add-to-wishlist:hover,
.remove-from-wishlist:hover {
    color: #0056b3;;
}

/**
* online style
**/
span.online {
    color: #089408;
    font-weight: bold;
}
span.offline {
    color: #ff0000;
    font-weight: bold;
}
span.inaktiv {
    color: #a0a0a0;
    font-style: italic;
}
span.admin, a.admin {
    color: #AA0000;
    font-weight: bold;
}
span.admin:hover, a.admin:hover {
    color: #860202;
    font-weight: bold;
    cursor: pointer;
}
span.coadmin, a.coadmin {
    color: #993333;
    font-weight: bold;
}
span.coadmin:hover, a.coadmin:hover {
    color: #822C2C;
    font-weight: bold;
    cursor: pointer;
}
span.cm, a.cm {
    color: #996633;
    font-weight: bold;
}
span.cm:hover, a.cm:hover {
    color: #865A2E;
    font-weight: bold;
    cursor: pointer;
}
span.cmod {
    color: #996699;
    font-weight: bold;
}
span.cmod:hover {
    color: #845784;
    font-weight: bold;
    cursor: pointer;
}
span.gmod {
    color: #663366;
    font-weight: bold;
}
span.gmod:hover {
    color: #582C58;
    font-weight: bold;
    cursor: pointer;
}
span.mod {
    color: #336633;
    font-weight: bold;
}
span.mod:hover {
    color: #2B562B;
    font-weight: bold;
    cursor: pointer;
}
span.invi {
    color: #999999;
    font-weight: bold;
}
span.invi:hover {
    color: #8C8B8B;
    font-weight: bold;
    cursor: pointer;
}