img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a.badge:hover {
    color: inherit;
}

.dropdown.bootstrap-select {
    width: auto !important;
}
.bootstrap-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.bootstrap-select.input-group-btn {
    width: auto !important;
}
.bootstrap-select .dropdown-toggle {
    height: 100%;
}
.bootstrap-select .dropdown-toggle:active,
.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .btn.show {
    background-color: transparent;
}
.bootstrap-select .dropdown-toggle .filter-option {
    height: auto;
}

#toast-container {
    position: relative;
    z-index: 100;
}
#toast-container > :not(:last-child) {
    margin-bottom: 12px;
}
#toast-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
}

.custom-file-label {
    overflow: hidden;
}

details {
    border: 1px dotted #ced4da;
}
details > * {
    margin: 5px;
}
details summary:focus {
    outline: none;
}

#wrapper {
    overflow: hidden;
}

.list-group-item .fas,
.sidebar-subheading .fas {
    width: 25px;
    text-align: center;
    padding-right: 5px;
}


@media (max-width: 1280px) {
    .bootstrap-select {
        width: 100% !important;
        max-width: fit-content !important;
    }
}
@media (max-width: 1023px) {
    .bootstrap-select {
        width: calc(100% - 33%) !important;
        max-width: 100% !important;
    }
}
.bootstrap-select>select.selectpicker+.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #ced4da;
}
.bootstrap-select>select.selectpicker+.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none;
}


.card-same-height .card {
    height: 100%;
}
@media (max-width: 767px) {
    table .card-view {
        padding-bottom: 5px;
    }
}
.bootstrap-table .fixed-table-container .table {
    text-align: center;
}
.bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title {
    overflow-x: auto;
    min-width: 40%;
}
.bootstrap-table .fixed-table-container .table.faq-table tbody tr .card-view .card-view-value {
    text-align: right !important;
}
.bootstrap-table .fixed-table-container .table tbody .overflow-auto {
    max-height: 200px;
}
.bootstrap-table .fixed-table-container .table th[data-field="message"] {
    width: 25%;
}
.card-img, .card-img-top {
    overflow: hidden;
}


/**
* news style
**/
@media (min-width: 768px) {
    .news-container .fixed-table-container {
        margin-left: -8px;
        margin-right: -8px;
    }
    .news-container table.news tbody {
        display: flex;
        flex-wrap: wrap;
    }
    .news-container table.news tbody tr {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .news-container table.news tbody tr td {
        display: block;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .news-container table.news tbody tr td {
        padding-left: 0;
        padding-right: 0;
    }
}
.news-container .news .card {
    height: 100%;
}
.news-container .pagination-detail {
    display: none;
}



/**
* wishlist style
**/
.add-to-wishlist,
.remove-from-wishlist {
    color: #007bff;
    cursor: pointer;
}
.add-to-wishlist:hover,
.remove-from-wishlist:hover {
    color: #0056b3;;
}
.mastered {
    color: #007bff;
}
.wishlist-text {
    padding-left: 5px;
}

/**
* card style
**/
table.carddeck th {
    width: 1%;
    padding-left: 0;
    white-space: nowrap;
}
table.carddeck td {
    padding-right: 0;
}
.carddeck-wrapper {
    font-size: 0;
    margin: auto;
    overflow-x: auto;
}
.carddeck-wrapper[data-is-puzzle="1"] {
    font-size: 0;
}
.carddeck-wrapper .card-wrapper {
    margin: 2px;
}
.carddeck-wrapper[data-is-puzzle="1"] .card-wrapper {
    margin: 0;
}
.card-wrapper {
    display: inline-block;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
}
.card-wrapper:not([style]) {
    position: relative;
    background-color: grey;
}
.carddeck-wrapper .card-wrapper.mastercard {
    margin-top: 5px;
}
.carddeck-link {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}
.carddeck-link small {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
}
.cards-sorting-wrapper small {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
}


/**
* member and card sorting style
**/
.member-profile .card {
    height: 100%;
}
.cards-sorting-container .fixed-table-container,
.member-cards-container .fixed-table-container {
    margin-left: -12px;
    margin-right: -12px;
}
.cards-sorting-wrapper,
.profile-cards-wrapper,
.tradein-container .cards-wrapper,
.card-wrapper {
    position: relative;
    text-align: center;
}
.show-counter {
    position: relative;
    display: inline-block;
}
.show-counter::after {
    content: attr(data-count);
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 4px 5px;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #212529;
    background-color: rgba(248, 249, 250, 0.8);
    border: 1px solid #4e555b;
    border-radius: 50%;
}
.cards-sorting-wrapper.mastered::after,
.profile-cards-wrapper.needed::before,
.card-wrapper.needed::before,
.profile-cards-wrapper.mastered::before {
    content: '\f559';
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -3px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 4px 5px;
    font-size: 60%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #212529;
    background-color: rgba(248, 249, 250, 0.8);
    border: 1px solid #4e555b;
    border-radius: 50%;
    z-index: 10;
}
.profile-cards-wrapper.needed.collect::before,
.card-wrapper.needed.collect::before {
    content: '\f004';
}
.profile-cards-wrapper.needed.keep::before,
.card-wrapper.needed.keep::before {
    content: '\f023';
}
.profile-cards-wrapper.needed.wishlist::before,
.card-wrapper.needed.wishlist::before {
    content: '\f005';
}
.cards-sorting-container .cards-sorting-table .carddeck-wrapper,
.member-cards-container .profile-cards .carddeck-wrapper {
    margin-top: 5px;
}
.member-cards-container .bootstrap-table .fixed-table-container .table.profile-cards tbody tr .card-view .card-view-value {
    text-align: center !important;
}
.cards-sorting-container table.cards-sorting-table,
.member-cards-container table.profile-cards,
.tradein-container table.tradein {
    margin: auto;
}
.cards-sorting-container table.cards-sorting-table thead,
.member-cards-container table.profile-cards thead {
    display: none !important;
}
.cards-sorting-container table.cards-sorting-table tbody tr,
.member-cards-container table.profile-cards tbody tr,
.tradein-container table.tradein tbody tr {
    vertical-align: top;
}
.cards-sorting-container table.cards-sorting-table tbody tr td,
.member-cards-container table.profile-cards tbody tr td,
.tradein-container table.tradein tbody tr td {
    line-height: 1;
    text-align: center;
}
@media (min-width: 768px) {
    .cards-sorting-container table.cards-sorting-table tbody,
    .member-cards-container table.profile-cards tbody,
    .tradein-container table.tradein tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards-sorting-container table.cards-sorting-table tbody tr td,
    .member-cards-container table.profile-cards tbody tr td,
    .tradein-container table.tradein tbody tr td {
        display: block;
        height: 100%;
        padding: 12px;
    }
}
@media (max-width: 767px) {
    .cards-sorting-container table.cards-sorting-table tbody tr,
    .member-cards-container table.profile-cards tbody tr,
    .tradein-container table.tradein tbody tr {
        display: inline-block;
    }
    .cards-sorting-container table.cards-sorting-table tbody tr td,
    .member-cards-container table.profile-cards tbody tr td,
    .tradein-container table.tradein tbody tr td {
        padding: 6px;
    }
}
@media (max-width: 562px) {
    .cards-sorting-container table.cards-sorting-table tbody tr td .card-views .card-view:first-of-type,
    .member-cards-container table.profile-cards tbody tr td .card-views .card-view:first-of-type,
    .tradein-container table.tradein tbody tr td .card-views .card-view:first-of-type {
        display: none !important;
    }
}
.administration .card .media a,
.cards-sorting .card .media a,
.memberarea .card .media a {
    display: block;
}
.cards-sorting .card .media .fas,
.memberarea .card .media .fas {
    width: 20px;
    text-align: center;
}
.cards-sorting .card .media .fa-2x,
.memberarea .card .media .fa-2x {
    width: 40px;
    text-align: center;
}

/**
* games style
**/
table.memorygame {
    margin: auto;
}
@media (min-width: 576px) {
    table.memorygame {
        display: inline-block;
        width: auto;
    }
}
.memory_found,
[status="memory_found"] {
    opacity: 0.25;
}
.memory_not_found,
[status="memory_not_found"] {
    opacity: 1;
}

/**
* tradein style
**/
.tradein-container button {
    padding: 0;
}


/**
* online style
**/
span.online {
    color: #089408;
}
span.offline {
    color: #ff0000;
}
span.inaktiv {
    color: #a0a0a0;
    font-style: italic;
}
span.admin, a.admin {
    color: #AA0000;
    font-weight: bold;
}
span.admin:hover, a.admin:hover {
    color: #860202;
    font-weight: bold;
    cursor: pointer;
}
span.coadmin, a.coadmin {
    color: #993333;
    font-weight: bold;
}
span.coadmin:hover, a.coadmin:hover {
    color: #822C2C;
    font-weight: bold;
    cursor: pointer;
}
span.cm, a.cm {
    color: #996633;
    font-weight: bold;
}
span.cm:hover, a.cm:hover {
    color: #865A2E;
    font-weight: bold;
    cursor: pointer;
}
span.mod, a.mo {
    color: #336633;
    font-weight: bold;
}
span.mod:hover, a.mod:hover {
    color: #2B562B;
    font-weight: bold;
    cursor: pointer;
}